.banner {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &:before {
        content: '';
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    .banner-image {
        position: absolute;
        left:0;
        right: 0;
        bottom: 0;
        top: 0;
        width: auto;
        height: 100%;
        z-index: -1;
    }
    .banner-content-container {
        position: absolute;
        color: white;
    }
    .banner-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        .social-icons {
            list-style: none;
            display: flex;
            a {
                padding: 0 .5rem;
                color: white;
                font-size: 2rem;
            }
        }
    }
}

@include media-breakpoint-up(lg){
    .banner {
        .banner-image {
            width: 100%;
            .banner-content-container{
                h1 {
                    font-size: 4.5rem;
                }
            }
        }
    }
}