.blocks-grid {
    img {
        width: 100%;
    }
    .left {
        .dark-bg {
            background-color: $dark-grey;
            color: white;
            .content-container{
                padding: 0 3rem;
                h3 {
                    color: $primary;
                }
            }
        }
        .light-bg {
            background-color: $primary;
            color: white;
            h3 {
                color: $dark-grey;
            }
            .content-container{
                max-width: 75%;
            }
        }
    }
    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
            content: '';
            background: rgba(0,0,0,0.25);
            position: absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
        }
        .content-container {
            position: absolute;
            color: white;
            h2 {
                font-size: 4rem;
            }
        }
    }
}

@include media-breakpoint-up(lg){
    .blocks-grid {
        .top-row,
        .bottom-row {
            height: 50%;
        }
    }
}