.contact-form{
    input,
    textarea {
        background-color: #ECECEC;
        &::placeholder{
            font-size: 0.8rem;
            color: $mid-grey;
        }
        &:focus {
            background-color: #ECECEC;
        }
    }
}