.faq-list{
    width: 100%;
    .categories,
    .questions {
        background-color: $light-grey;
        li{
            border-left: 5px solid transparent;
            border: 1px solid $mid-grey;
            &.highlight {
                border-left: 5px solid $primary;
            } 
            div {
                transition: background-color .5s ease-in-out;
                &:hover {
                    cursor: pointer;
                    background-color: $mid-grey;
                }
            }
        }
    }
    .questions {
        position: absolute;
        left: 100%;
        min-width: 100%;
        top:0;
    }
}

.faq-answer {
 .answer,
 .contact-us-msg {
     display: block;
     max-width: 75%;
 }   
}