.newsletter-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-grey;
    padding: 8rem 0;
}

@include media-breakpoint-up(lg){
    .newsletter-signup{
        .newsletter-container{
            max-width: 33%;
        }
    }
}