.btn {
    padding: 1rem 2rem;
    &.btn-outline-primary {
        color: white;
        &:hover {
            border-color: white;
        }
    }
    &.btn-outline-secondary {
        color: black;
    }
}