<template>
  <section class="banner">
      <img
        class="banner-image"
        src="@/assets/images/Antipasti_Platter_Branded.png"
        srcset="@/assets//images/Antipasti_Platter_Branded@2x.png 2x"
        alt="Antipasti Platter"
      >
      <div class="banner-content-container">
        <div class=" d-flex flex-wrap justify-content-center">
            <h1 class="w-100 text-center">Made With Pride </br> Bursting with Character</h1>
            <b-button class="mt-4" size="lg" :to="{name: 'Contact'}" variant="outline-primary">Discover Snowdonia</b-button>
        </div>
      </div>

      <div class="banner-bottom container-fluid">
        <div class="row justify-content-end">
          <div class="col-auto">
              <SocialLinks />
          </div>
        </div>
      </div>
  </section>
</template>

<script>
  import SocialLinks from '@/components/Util/Social-Links.vue';

    export default {
        name: 'Banner',
        components: {
            SocialLinks
        }
    }
</script>