<template>
    <section class="blocks-grid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 p-0 left">
                    <div class="top-row d-flex flex-wrap">
                        <div class="col-md-6 p-0 h-100">
                            <img class="img-fluid" src="@/assets/images//Path_leading_to_Cwm_Idwal_Devils_Kitchen.png"/>
                        </div>
                        <div class="col-md-6 align-items-center d-flex dark-bg py-4">
                            <div class="content-container text-center">
                                <h3><strong>Award Winning</strong></h3>
                                <p>Our Black Bomber has won awards at The Great British Cheese Awards, Nantwich International Cheese Awards, the World Cheese Awards and a Super Gold at Mondial Fromage in France</p>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-row d-flex flex-wrap">
                        <div class="col align-items-center justify-content-center d-flex light-bg p-lg-5 py-4">
                            <div class="content-container text-center text-lg-left">
                                <h3><strong>Established in 2001</strong></h3>
                                <p>Nestled within beautiful North Wales amidst the fresh sea air and flowing water, the Snowdonia Cheese Company was established in 2001, with the aim of creating a new premium product a luxury range of cheeses.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0 right">
                    <img class="img-fluid" src="@/assets/images/Cheddar_and_Bacon_Brunch_Pancakes_Branded.png"/>
                    <div class="content-container text-center">
                        <h2>View Our Recipes</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
