<template>
    <div>
        <form novalidate @submit="submitForm" class="contact-form row mt-3">
            <div class="col-md-6 mb-2">
                <label for="business-name">Business Name</label>
                <input v-model="form.name" id="business-name" type="text" required placeholder="Enter a name" class="w-100 form-control" />
            </div>
            <div class="col-md-6 mb-2">
                <label for="business-address-1">Business Address Line 1</label>
                <input v-model="form.address" id="business-address-1" type="text" required placeholder="Enter a name" class="w-100 form-control" />
            </div>
            <div class="col-12">
                <label for="business-city">City</label>
                <textarea v-model="form.city" rows="5" id="business-city" type="text" required placeholder="Enter a city" class="w-100 form-control"/>
            </div>
            <div class="col-12 py-3">
                <button type="submit" class="btn btn-primary">Send Message</button>
            </div>
        </form>

        <p v-if="formerrors.length">
            <b>Please correct the following error(s):</b>
            <ul>
                <li v-for="error in formerrors">{{ error }}</li>
            </ul>
        </p>
    </div>
</template>


<script>
export default {
    data(){
        return {
            form :{
                name: null,
                address: null,
                city: null,
            },
            formerrors: []
        }
    },
    methods: {
        submitForm: function (e) {
            if (this.form.name && this.form.address && this.form.city) {
                return true;
            }

            this.formerrors = [];

            if (!this.form.name) {
                this.formerrors.push('Name required.');
            }
            if (!this.form.address) {
                this.formerrors.push('Address required.');
            }

            if (!this.form.city) {
                this.formerrors.push('City required.');
            }

            e.preventDefault();
        }
    }
}
</script>
