<template>
    <section class="faq-list">
        <ul class="categories list-unstyled col-md-6 p-0">
            <li v-for="item in faq" :key="item.name" :class="{highlight:item.id == selectedCategory}">
                <div class="p-3" v-on:click="selectCategory(item)"><strong>{{item.name}}</strong></div>
                <transition name="fade">
                    <ul class="questions list-unstyled col-md-6 p-0" v-if="item.id == selectedCategory">
                        <li v-for="question in item.questions" :key="question.question" :class="{highlight:question.id == selectedQuestion}">
                            <div class="p-3" v-on:click="selectQuestion(question)"><strong>{{question.question}}</strong></div>
                        </li>
                    </ul>
                </transition>
            </li>
        </ul>
    </section>
</template>

<script>
    import json from '@/utils/faq-data.json';

    export default {
        name: 'Contact',
        data() {
            return {
                faq: json,
                selectedCategory: 0,
                selectedQuestion: 0,
                answer: ''
            }
        },
        methods: {
            selectCategory(item){
                this.selectedQuestion = 0;
                this.answer = '';
                this.$emit('clicked', this.answer)

                if(item){
                    this.selectedCategory = item.id;
                }
            },
            selectQuestion(question){
                this.selectedQuestion = question.id;
                this.answer = question.answer;

                this.$emit('clicked', this.answer)
            }
        }
    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    }
</style>