<template>
    <div class="page-section">
        <div class="row justify-content-center">
            <div class="col-lg-5 d-flex flex-wrap">
                <div class="col-lg-6">
                    <strong>If you'd prefer to email or phone us directly, here's our contact info:</strong>
                </div>
                <div class="col-lg-5 offset-1">
                    <ul class="list-unstyled">
                        <li>
                            <font-awesome-icon :style="{ color: '#B9951D' }" :icon="['fas', 'phone']" class="icon alt"/>
                            <span class="ml-2"><strong>01745 360 246</strong></span>
                        </li>
                        <li>
                            <font-awesome-icon :style="{ color: '#B9951D' }" :icon="['fas', 'envelope']" class="icon alt"/>
                            <span class="ml-2"><strong>Enquires@snowdonia.co.uk</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>
