<template>
    <footer class="site-footer">
        <div class="d-flex flex-wrap">
            <div class="col-lg-9 d-flex flex-wrap">
                <div class="footer-links d-flex flex-wrap w-100 text-center text-lg-left">
                    <div class="col-lg d-flex justify-content-center ">
                        <router-link :to="{ name: 'Homepage'}">
                            <img src="@/assets//images/snowdonia_cheese_company.png"/>
                        </router-link>
                    </div>
                    <div class="col-lg">
                        <strong class="title">Shop</strong>
                        <ul>
                            <li><a href="/">Our Truckie Range</a></li>
                            <li><a href="/">Our Gift Selection</a></li>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <strong class="title">From Us</strong>
                        <ul>
                            <li><a href="/">Our Story</a></li>
                            <li><a href="/">Our Recipes</a></li>
                            <li><a href="/">News &amp; Media</a></li>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <strong class="title">Account</strong>
                        <ul>
                            <li><a href="/">My Basket</a></li>
                            <li><a href="/">My Orders</a></li>
                            <li><a href="/">Sign In/Sign Up</a></li>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <strong class="title">Support</strong>
                        <ul>
                            <li><a href="/">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 border-left contact text-center text-lg-left">
                <strong class="title">Get In Touch!</strong>
                <ul class="links">
                    <li><a href="/">Find a Stockist</a></li>
                    <li>
                        <router-link :to="{name: 'Contact'}">
                            Contact
                        </router-link>
                    </li>
                </ul>
                <SocialLinks />
            </div>
        </div>
    </footer>
</template>
 

 <script>
  import SocialLinks from '@/components/Util/Social-Links.vue';

    export default {
        name: 'Footer',
        components: {
            SocialLinks
        }
    }
 </script>
 