<template>
    <header class="site-header w-100" v-bind:class="[headerClass(), this.$route.meta.navcolour]">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-between py-3">
                <div class="col d-flex justify-content-start">
                    <b-nav>
                        <b-nav-item active>Story</b-nav-item>
                        <b-nav-item>Shop</b-nav-item>
                        <b-nav-item>News</b-nav-item>
                        <b-nav-item>Recipes</b-nav-item>
                    </b-nav>
                </div>
                <div class="col-auto d-flex justify-content-center">
                    <router-link :to="{ name: 'Homepage'}">
                        <img src="@/assets/images/Logo.svg" width="100" height="100"/>
                    </router-link>
                </div>
                <div class="col d-flex justify-content-end">
                    <b-nav>
                        <b-nav-item>Find a Stockist</b-nav-item>
                        <b-nav-item>Account</b-nav-item>
                        <b-nav-item>Basket<span class="basket-counter">0</span></b-nav-item>
                    </b-nav>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        methods:{
            headerClass(){
                return {
                    'position-absolute position-top' : this.$route.meta.fixedHeader,
                }
            }
        }
    }
</script>