<template>
    <div id="page-content">
        <div class="container py-5">
            <PageTitle :page-title="$route.meta.title"/>
            <div class="row">
                <div class="w-100 mb-3">
                    <strong>What does your question related to?</strong>
                </div>
                <div class="col-lg-6 d-flex flex-wrap pl-0 pr-5">
                    <FAQ @clicked="getAnswer"/>
                </div>
                <div class="col-lg-6 border-left px-5 d-flex flex-wrap align-items-end">
                    <transition name="fade">
                        <div class="faq-answer" v-if="this.showAnswer()">
                            <span class="answer">
                                <strong>{{this.showAnswer()}}</strong>
                                </span>
                            <hr>
                            <span class="contact-us-msg">
                                <small><strong>If this didn't answer your question, please feel free to leave us a message and we'll be in touch as soon as we can.</strong></small>
                            </span>
                        </div>
                    </transition>
                    <ContactForm />
                </div>
            </div>
        </div>
        <PageSection />
    </div>
</template>

<script>
import PageTitle from '@/components/Util/Page-Title.vue';
import ContactForm from '@/components/Content/Contact-Form.vue';
import FAQ from '@/components/Content/FAQ-List.vue';
import PageSection from '@/components/Content/Page-Section.vue';

export default {
    name: 'Contact',
    components: {
        ContactForm,
        FAQ,
        PageTitle,
        PageSection
    },
    metaInfo: {
        title: 'Contact Us',
    },
    data() {
        return {
            answer: ''
        }
    },
    methods:{

        getAnswer(val){
            this.answer = val;
        },
        showAnswer(){
            return this.answer
        }

    }
}
</script>

<style>
    .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    }
</style>