<template> 
    <div id="main">
        <Banner />
        <Blocks />
        <Newsletter />
    </div>
</template>
 

<script> 
    import Banner from '@/components/Content/Banner.vue';
    import Blocks from '@/components/Content/Blocks.vue';
    import Newsletter from '@/components/Util/Newsletter.vue';

    export default {
        name: 'Homepage',
        components: {
            Banner,
            Blocks,
            Newsletter
        },
        metaInfo: {
            title: 'Home',
        }
    }
</script>
