@import 'navigation';
@import 'sys-tray';

.site-header {
    z-index: 3;
    &.light {
        a {
            color: white;
        }
    }
    &.dark {
        a {
            color: black;
        }
    }
    .nav {
        a {
            font-weight: bold;
        }
    }
}