.site-footer {
    background-color: $dark-grey;
    padding: 7rem 0;
    .title {
        color: white;
    }
    .footer-links{
        ul{
            list-style: none;
            padding: 0;
            margin: 1rem 0 0;
            li {
                a {
                    color: rgba(255,255,255,0.33);
                }
            }
        }
    }
    .contact {
        .links {
            padding: 0;
            list-style: none;
            li{
                padding: .5rem 0;
                a {
                    color: $primary;
                    text-decoration: underline;
                }
            }
        }
        .social-icons {
            display: flex;
            list-style-type: none;
            padding:0;
            li {
                a {
                    padding: 0 .5rem;
                    color: white;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg){
    .site-footer {
        .contact {
            padding: 0 7rem;
        }
    }
}