<template>
    <section class="newsletter-signup justify-content-center">
        <div class="newsletter-container text-center">
            <div class="px-3 text-center justify-content-center d-flex flex-wrap">
                <h3><strong>Keep In Touch</strong></h3>
                <p class="w-75 my-3">We'll keep you up to date on the latest news and send you exclusive offers. But don't worry we wont spam!</p>
            </div>
            
            <b-form inline>
                <div class="col-7 col-lg-9 px-1">
                    <label class="sr-only" for="input-1">Email Address</label>
                    <b-form-input id="input-1" type="email" required placeholder="Enter your email address" class="w-100"></b-form-input>
                </div>
                <div class="col-auto px-1">
                    <b-button type="submit" variant="outline-secondary">Sign Up</b-button>
                </div>
            </b-form>
        </div>
    </section>
</template>
