<template>
    <ul class="social-icons">
        <li>
            <a href="/"><font-awesome-icon :icon="['fab', 'facebook-f']" class="icon alt"/></a>
        </li>
        <li>
            <a href="/"><font-awesome-icon :icon="['fab', 'instagram']" class="icon alt"/></a>
        </li>
        <li>
        <a href="/"><font-awesome-icon :icon="['fab', 'youtube']" class="icon alt"/></a>
        </li>
    </ul>
</template>
