<template>
  <div id="app">
    <Header></Header>
    <router-view></router-view>
    <Footer></Footer>
  </div>
</template>

<script>
import '@/scss/styles.scss';

import Header from '@/components/Site/Header.vue';
import Footer from '@/components/Site/Footer.vue';


export default {
  name: 'app',
  components: {
    Header,
    Footer
  },
  metaInfo: {
    // if no subcomponents specify a metaInfo.title, this title will be used
    title: 'Snowdonia Cheese',
    // all titles will be injected into this template
    titleTemplate: '%s | Snowdonia Cheese'
  }
}
</script>