$font-path: '/src/assets/fonts';

// Bootstrap Overrides //

$primary: #B9951D;

$btn-border-radius: 2px;
$btn-border-radius-lg: 2px;
$btn-border-radius-sm: 2px;

$input-border-radius:  0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$input-padding-y: 1rem;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px
) !default;


$light-grey: #E8E8E8;
$mid-light-grey: #ECECEC;
$mid-grey: #C2C5C6;
$dark-grey: #1D2428;


$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.5;